*		{margin:0px; padding:0px;}

html, body {
	width: 100%;
	background-image: url("../images/subtle_white_feathers.png");
}
#main {
	width: 600px;
	margin: 0 auto;
	display: block;
	overflow:hidden;
}
header {
	padding-top: 10px;
	margin: 0 auto;
	width: 600px;
	display: block;
	overflow: hidden;

}
.pageTitle {
	text-align: center;
	color:#5e2d79;
	margin-bottom: 20px;
}
#logo{
	width: 150px;
	display: inline;
	float:left;
	padding-bottom: 10px;
}
#logo img {
	width: 100%;
}

#navigationLeft{
	display: inline;
	float: left;
	padding-right: 20px;
	position: relative;
	transform:translateY(+50%);
}
#navigationRight{
	display: inline;
	float: left;
	padding-left: 20px;
	position: relative;

	transform:translateY(+50%);
}
#headerContent{
	margin: 0 auto;
	width: 349px;
	overflow: hidden;
}
.content {
	height: auto;
}
header ul {
	margin: 0 auto;
	display: inline;
	overflow: hidden;
}

header ul li{
	display: block;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;

}
a:hover {
	color:#5e2d79;
}
a {
	text-decoration: none;
	display: inline;
	color: #A8A8A8;
}
hr {
	clear: left;
	color:#5e2d79;
	width:800px;
	margin: 0 auto;
	margin-bottom: 20px;
}

/*end of header*/

/*Projects*/
.project, #aboutMe {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.project h2{
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#5e2d79;
}
.project h3 {
	margin-bottom: 10px;
}
.projectImage{
	float: right;
	width: 598px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
    border-width: 1px;
	border-color: black;
	margin-top: 10px;
}
.projectText{
	width: 100%;
}
.project p{
	margin-bottom: 10px;
	font-size: 18px;
}
p {
	font-size: 18px;
}
.project ul {
	margin-left: 20px;
}
.url{
	display: inline;
}
.dotsImage {
	width: 50px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

#aboutMe img{
	width: 30%;
	float: left;
}
#profile {
	border-style: solid;
    border-width: 1px;
	border-color:black;
	float: left;
}

#text {
	float: left;
	width: 398px;
	margin-left: 20px;
	clear: right;
}
.paragraph p, .highlight a {
	display: inline;	
}
.paragraph {
	margin-bottom: 10px;
}
h1 {
	color: #5e2d79;
	margin-bottom: 10px;
}
.hilight {
	color: #5e2d79;
	display: inline;
	font-weight: bold;
}
#contactMe {
	overflow: hidden;
}
.contactOption {
	margin: 0 auto;
	overflow: hidden;
	margin-top: 10px;
}
.contactOption img {
	width: 40px;
	display: inline;
	float: left;
}
.contactOption p, .contactOption a {
	display: inline;
	float: left;
	margin-left: 10px;
	transform:translateY(+50%);
	font-size: 18px;
}

#contact {
	text-align: center;
	margin-bottom: 20px;
}
/* footer */
footer {
	padding-top: 20px;
	padding-bottom:10px;
	clear: both;
	width: 100%;
}
footer p {
	font-size: 20px;
	text-align: center;
	color: #A8A8A8;
}

#aboutMeContent, #contactMe, #resumeContent {
	display:none;
}
#resumeContent {
	width: 100%;
}
.currentPage {
	display: block;
}

#top {
	width: 135px;
	margin: 0 auto;
	text-align: center;
}
.contentgroup {
	margin-top: 20px;
}
.resumetitle {
	text-transform: uppercase;
	font-weight: bold;
}
.skillscontent ul li{
	display: list-item;
	margin-bottom: 10px;
}
.jobcontent p {
	font-weight: bold;
	
}


